@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}

html{
	font-size: 62.5%;/*初期値10px設定*/
}
body{
	font-size: 1.6rem;/*chorome対応注意！*/
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
}
/*可変イメージ設定*/
img {
	width: 100%;
	height: auto;
}

/*ハンバーガーアイコン*/
#toggle {
	display: block;
	text-align: center;
	width: 55px;
	height: 55px;
	position: fixed;
	top: 10px;
	right: 15px;
	z-index: 10;
	color: #010079;
	
/*	ナビ下部に文字がある場合追加
	background: #bcc5d8;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;*/
}

/*アイコン・アニメーション*/
.trigger, .trigger span {
	display: inline-block;
	transition: all .4s;
}
.trigger {
	position: relative;
	width: 28px;
	height: 19px;
}
.trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #010079;
	border-radius: 4px;
}
.trigger span:nth-of-type(1) {
	top: 0;
}
.trigger span:nth-of-type(2) {
	top: 8px;
}
.trigger span:nth-of-type(2)::after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 3px;
	background-color: #010079;
	border-radius: 4px;
	transition: all .4s;
}
.trigger span:nth-of-type(3) {
	bottom: 0;
}
.trigger.active span:nth-of-type(1) {
	transform: translateY(8px) scale(0);
}
.trigger.active span:nth-of-type(2) {
	transform: rotate(-45deg);
}
.trigger.active span:nth-of-type(2)::after {
	transform: rotate(90deg);
}
.trigger.active span:nth-of-type(3) {
	transform: translateY(-8px) scale(0);
}

/*グローバルナビ部分*/
.toggleWrap {
	background: rgba(188,226,232,0.7);
	padding: 50px 15px 10px 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}

.mainNav li {
	list-style-type: none;
}
.navItem {
	display: block;
	text-decoration: none;
	color: #010079;;
	border-bottom: 1px solid #fff;
	padding: 15px 0;
	text-align: center;
	font-size: 2rem;
}
/*ナビを消す*/
.hide {
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}
.animation {
	transition-property:visibility;
	transition-duration: .3s;
	transition-timing-function: ease-in;
}
.no-scroll {
	overflow: hidden;
}
#home{
	margin-top:60px;
}
.gototop{
	text-align: right;
}
/*ーーーーーーーーーーーーーここまで共通ーーーーーーーーーーーーーー*/
dd,dt {
	text-align: left;
}
main {
	padding: 0 5%;
	width: 90%;
	margin: 0 auto;
}
.main_img h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 2.5rem;
}
.main_img {
	padding-top: 50px;
	max-width: 80%;
	margin: 0 auto;
}
.portfolio_txt,.portfolio_pic {
	line-height: 1.5;
	margin-bottom: 30px;
}
.portfolio_txt dt,.portfolio_pic dt {
	letter-spacing: 0.1em;
}
.portfolio_img,.portfolio_txt,.portfolio_pic {
	margin-bottom: 30px;
}
.under,.portfolio_txt dt,.portfolio_pic dt {
	margin-bottom: 20px;
	padding-top: 30px;
}
.under {
	padding: 10px 0;
	position: relative;
  　padding: 0.3em;
	font-size: 2rem;
	font-weight: bold;
}
.under:after {
	  content: '';
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 7px;
	  background: repeating-linear-gradient(-45deg, #bce2e8, #bce2e8 2px, white 2px, white 4px);
	}

.portfolio_txt dd,.portfolio_pic dd {
padding-bottom: 5px;
}
.portfolio_pic {
	margin: 0 auto;
	margin-bottom: 30px;
}
/*ーーーーーーーーーーーーフッターーーーーーーーーーーーーーーーー*/
footer {
	background-color: rgba(188,226,232,0.80);
	}
footer p {
	text-align: center;
	line-height: 2;
}
/*PAGE TOPボタン追加*/
#gototop {
width: 50px;
height: 50px;
position: fixed;
right: 10px;
bottom: 10px;
background: #bce2e8; /*ボタンの色*/
opacity: 0.6;
border-radius: 50%; /*角の丸み*/
}
#gototop a{
position: relative;
display: block;
width: 50px;
height: 50px;
text-decoration: none;
}
#gototop a::before{
font-family: "Font Awesome 5 Free";
content: "\f102"; /*アイコン*/
font-weight: 900;
font-size: 25px;
color: #fff; /*アイコンの色*/
position: absolute;
width: 25px;
height: 25px;
top: 0;
bottom: 0;
right: 0;
left: 0;
margin: auto;
text-align: center;
}

/*--------------------------
	タブレット / iPad 768px(横)から1023pxまでの設定 /
-------------------------- */

/* 768px以上に適応するスタイル */
@media screen and (min-width: 768px) {
	header h1 {
	font-size: 6em;
	letter-spacing: 0.1em;
}
/*グローバルナビ部分*/
.toggleWrap {
		background: none;
		height: auto;
		position: fixed;
		padding: 10px 0;
		margin-bottom: 20px;
		background-color: rgba(188,226,232,0.80);

	}

.mainNav {
		display: flex;
		justify-content: space-between;
		/*overflow: hidden;*/
		width: 60%;
		margin: 0 auto;
	}
	.navItem {
		width: 20%;
		/*float: left;*/
		padding: 5px 10px;
		color: #fff;
		border:none;
		position: relative;
		display: inline-block;
	}
	 .navItem::after {
	  position: absolute;
	  bottom: -8px;
	  left: 0;
	  content: '';
	  width: 100%;
	  height: 2px;
	  background: #fff;
	  opacity: 0;
	  visibility: hidden;
	  transition: .3s;
	}

.navItem:hover::after {
		bottom: -4px;
		opacity: 1;
		visibility: visible;
	}

.animation {
	transition: none;
}
	
/* 非表示にしていたナビを表示させる */
.hide {
	opacity: 1;
	visibility: visible;
}
/*ハンバーガー消す*/
#toggle {
	display: none;
}
.main_img {
	padding-top: 100px;
}
main {
	max-width: 80%;	
	}
.portfolio_pic {
		text-align: left;
		margin-bottom: 50px;
	}
.portfolio_pic img {
		margin: 0 auto;
	}
.portfolio_txt {
	margin-bottom: 50px;
	}
.portfolio_img {
	    margin: 0 auto;
	    margin-bottom: 50px;
	}
#gototop {
	margin-right: 10%;
}
}

/*--------------------------
	PC /1024px以上の設定/
-------------------------- */
@media screen and (min-width:1024px) {
	
	main {
		width: 75%;
		margin: 0 auto;
	}	
	}


